.program{
    margin-top: 8px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    gap: 6px;

    @media (max-width: 600px){
        margin-top: 10px;
    }
}
.programName{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #282D34;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.time_holder{
    display: flex;
    align-items: center;
    gap: 6px;
}
.time{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #707A87;
}