.channel{
    width: calc(25% - 10px);
    @media (max-width: 992px){
        width: calc(33.33% - 10px);
    }
    @media (max-width: 768px){
        width: calc(50% - 10px);
    }
    @media (max-width: 600px){
        width: 100%;
    }
}

.box__header{
    display: flex;
    align-items: center;
    width: fit-content;

    cursor: pointer;

    div{
        display: flex;
        margin-right: 10px;
    }

    p{
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;
        color: #282D34;
        margin-right: 6px;
        transition: 300ms all ease;
    }

    &:hover{
        p{
            margin-right: 10px;
        }
    }


}

.content{
    background: #FFFFFF;
    border: 1px solid #EFF0F0;
    box-shadow: 0px 1px 1px #E4E7EA;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 16px;
    padding-bottom: 20px;
    height: calc(100% - 65px);

    @media (max-width: 600px){
        .box__header{
            display: flex;
            padding: 0 15px;
            padding-top: 20px;

            span{
                max-width: 45px !important;
            }

            span img{
                max-width: 35px;
                object-fit: contain;
            }
        }
    }

    > span{
        display: block;
        width: 100% !important;
        height: auto !important;


        > img{
            object-fit: cover !important;
        }
    }

    img{
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        margin-bottom: 15px;
    }
}

.progress{
    height: 2px;
    width: calc(100% - 30px);
    margin: 12px 15px;
    @media (max-width: 600px){
        margin: 8px 15px;
    }
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    background-color: #CAD4E1;
    position: relative;

    div{
        position: absolute;
        width: 0%;
        height: 2px;
        border-radius: 8px;
        background-color: #282D34;
        left: 0;
        top: 0;
    }
}
