.flex_container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 600px){
        gap: 20px;
        flex-direction: column;
        align-items: flex-start;
    }
}
.title{
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: #282D34;

    @media (max-width: 600px){
        font-size: 22px;
        line-height: 27px;
    }

    span{
        max-width: 45px !important;
    }

    span img{
        max-width: 35px;
        object-fit: contain;
    }
}
.filter{
    background: #EFF0F3;
    border-radius: 8px;
    display: flex;
    padding: 2px;

    @media (max-width: 600px){
        width: 100%;
    }

    div{
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #282D34;
        border-radius: 7px;
        padding: 8px;        
        min-width: 130px;
        cursor: pointer;
        transition: 300ms all ease;

        @media (max-width: 600px){
            width: 50%;
        }
    }

    :global {
        .active{
            background: #FFFFFF;
            box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
        }
    }
}

.channels{
    display: flex;
    flex-wrap: wrap;
    gap: 25px 10px;
    margin-top: 40px;
    margin-right: -10px;

    @media (max-width: 600px){
        gap: 25px;
        margin-right: 0;
    }
}
