.hero__bg{
    background: #EEEEEE;
    padding: 15px 0;
    margin-bottom: 50px;
    margin-top: 85.5px;

    @media (max-width: 1200px){
        margin-top: 56.5px;
    }
    @media (max-width: 600px){
        margin-bottom: 40px;

        span{
            min-height: 280px;
            img{
                object-fit: cover;
            }
        }
    }
}