.program{
    margin-top: 16px;
    padding: 0 15px;
}
.programName{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #282D34;
    margin-bottom: 6px;
}
.time_holder{
    display: flex;
    align-items: center;
    gap: 6px;
}
.time{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #707A87;
}