.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #FCFCFC;

    @media (max-width: 1200px){
        display: none;
    }

    padding: 14.5px 0;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo,
    .settings__icon{
        span{
            cursor: pointer;
        }
    }

    .settings__icon{
        display: flex;
        span{
            display: flex;

            svg path,
            svg circle{
                transition: 300ms all ease;
            }

            &:hover{
                svg path,
                svg circle{
                    stroke: #282D34;
                }
            }
        }
    }

    .search_input{
        background: #F1F3F4;
        border: 1px solid #F1F3F4;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE3LjUgMTcuNUwxMi41IDEyLjVNMTQuMTY2NyA4LjMzMzMzQzE0LjE2NjcgMTEuNTU1IDExLjU1NSAxNC4xNjY3IDguMzMzMzMgMTQuMTY2N0M1LjExMTY3IDE0LjE2NjcgMi41IDExLjU1NSAyLjUgOC4zMzMzM0MyLjUgNS4xMTE2NyA1LjExMTY3IDIuNSA4LjMzMzMzIDIuNUMxMS41NTUgMi41IDE0LjE2NjcgNS4xMTE2NyAxNC4xNjY3IDguMzMzMzNaIiBzdHJva2U9IiM3MDdBODciIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 10px;
        border-radius: 4px;

        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #282D34;

        transition: 300ms all ease;

        padding: 10px;
        padding-left: 38px;
        min-width: 410px;

        &::placeholder{
            color: #707A87;
        }

        &:focus{
            border: 1px solid #282D34;
        }
    }
}


.header_mob{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #FCFCFC;
    padding: 2px 0;
    border-bottom: 1px solid #ddd;

    display: none;
    @media (max-width: 1200px){
        display: block;
    }

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .right_col{
        display: flex;
        align-items: center;
        gap: 20px;
    }
}


.nav_container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(24, 28, 33, 0.8);
    transition: 300ms all ease;
    z-index: 9999;

    .navigation{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: #ffffff;
        z-index: 10;

        padding: 0 20px;
        padding-top: 10px;
        padding-bottom: 35px;

        transition: 500ms all ease;

        opacity: 0;
        transform: translateY(30px);


        .nav__head{
            display: flex;
            align-items: center;
            justify-content: space-between;

            #close_nav{
                display: flex;
            }

            margin-bottom: 35px;
        }

        .nav_body{
            .item{
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 20px;

                &:last-child{
                    margin-bottom: 0;
                }

                .text{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    color: #282D34;
                }
            }
        }
    }


    opacity: 0;
    pointer-events: none;

    &.active{
        opacity: 1;
        pointer-events: all;


        .navigation{
            opacity: 1;
            transform: translateY(0px);
        }

    }
}

.hamburger__icon{
    display: flex;
}